* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;

  .items-container {
    position: relative;
    overflow: hidden;
    background: #fdf7df;

    .items-header {
      position: sticky;
      left: 0;
      right: 25%;
      top: 0;
      background: #000000b3;
      z-index: 2;

      .logo-bookmark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        position: absolute;
        top: 0;
        left: 8px;
        width: 0px;
        height: 95px;
        border: 45px solid darkorange;
        border-bottom: 15px solid;
        border-top: 0;
        border-bottom-color: transparent;
        color: white;
        font-size: 16px;

        .logo-text {
          font-size: 20px;
        }
      }

      .header-info {
        display: flex;
        flex-direction: column;
        padding: 8px;
        padding-left: 115px;
        padding-right: 15px;

        .delivery {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid lightgray;
          color: lightgray;

          .delivery-info {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 5px;

            .phone-number {
              font-size: 18px;
            }
            .work-schedule {
              font-size: 12px;

              @media screen and (max-width: 768px) {
                display: none;
              }
            }
            .free-delivery {
              font-size: 16px;

              @media screen and (max-width: 1100px) {
                display: none;
              }
            }
          }

          .login {
            border: 0;
            border-radius: 4px 4px 4px 4px;
            padding: 8px 12px;
            background-color: #ff9500;
            color: white;
            font-size: 12px;
            font-weight: bold;
          }
        }

        .pizza-label {
          display: flex;
          align-items: center;
          padding: 5px;
          color: white;
        }
      }
    }

    .items-content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      height: 100vh;
      padding: 120px 180px 0px 180px;
      overflow-x: hidden;
      overflow-y: auto;

      @media screen and (max-width: 1280px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (max-width: 1100px) {
        padding-left: 20px;
        padding-right: 20px;
      }

      @media screen and (max-width: 768px) {
        padding-left: 14px;
        padding-right: 14px;
      }

      .filters-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .filters-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          font-size: 26px;
          font-weight: bold;

          @media screen and (max-width: 1006px) {
            font-size: 16px;
          }

          @media screen and (max-width: 830px) {
            font-size: 12px;
          }

          .amount {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background-color: darkorange;
            color: white;
            font-size: 12px;
            font-weight: bold;
          }
        }

        .filters {
          display: flex;
          gap: 20px;

          @media screen and (max-width: 1006px) {
            gap: 10px;
          }

          @media screen and (max-width: 830px) {
            font-size: 4px;
          }

          .filters-btn {
            border: 0;
            padding: 8px 14px;
            background-color: transparent;
            color: darkorange;
            font-size: 14px;
            font-weight: bold;

            @media screen and (max-width: 1006px) {
              padding: 5px 8px;
              font-size: 12px;
            }

            @media screen and (max-width: 830px) {
              padding: 2px 4px;
              font-size: 10px;
            }

            &.chosen {
              border-radius: 4px 4px 4px 4px;
              background-color: darkorange;
              color: white;
            }
          }
        }
      }

      .items-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @media screen and (max-width: 1100px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .item {
          position: relative;
          background: white;
          border: 1px solid #c2c2c2;
          border-radius: 4px;

          padding: 4px 4px 16px;

          img {
            width: 100%;
            aspect-ratio: 1;
          }

          .new-label {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(20px, -10px);
            border: 0;
            border-radius: 4px 4px 4px 4px;
            padding: 5px 8px;
            background-color: #f94646;
            color: white;
            font-size: 18px;
            font-weight: bold;
          }

          .popular-label {
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(20px, -10px);
            border: 0;
            border-radius: 4px 4px 4px 4px;
            padding: 5px 8px;
            background-color: #019f01;
            color: white;
            font-size: 18px;
            font-weight: bold;
          }

          .title {
            padding-left: 8px;
            font-size: 28px;
            font-weight: bold;
            color: #ff7700;
          }
          .subtitle {
            padding-top: 4px;
            padding-left: 8px;
            font-size: 12px;
            color: #9f9f9f;
          }
          .description {
            padding-top: 3px;
            padding-left: 8px;
            font-size: 16px;
            color: black;
          }

          .sizes {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            .size {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding-top: 10px;

              .stats {
                font-size: 16px;
                color: black;

                .size-icon {
                  width: 15px;
                  height: 15px;
                }
                .weight-icon {
                  width: 15px;
                  height: 15px;
                }
              }

              .price {
                font-size: 16px;
                font-weight: bold;
                color: black;

                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 16px;

                span {
                  font-size: 28px;
                }
              }

              .purchase-btn {
                padding: 8px 16px;
                background: #ff930f;
                border: 1px solid #ed8403;
                color: white;
                font-weight: bold;
                border-radius: 4px;
                margin-top: 8px;
              }
            }
          }
        }
      }
      .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 40px;
        margin-left: -200px;
        margin-right: -200px;
        bottom: 0;
        background-color: white;
        border: 1px solid lightgray;
        box-shadow: inset 0 -20px 30px #e2e2e2;
        color: #6c6a6a;
        font-size: 14px;
      }
    }

    .items-footer {
      position: sticky;
      left: 0;
      right: 0;
      bottom: 0;

      .sale-bookmark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: absolute;
        left: 8px;
        bottom: 0;
        width: 0px;
        height: 110px;
        border: 48px solid darkorange;
        border-top: 15px solid;
        border-top-color: transparent;
        border-bottom: 0;
        color: white;
        font-size: 16px;

        .sale-bookmark-text {
          font-size: 14px;
          padding-bottom: 5px;
          border-bottom: 2px dashed #ef6902;
        }
      }
    }
  }

  .cart-сontainer {
    height: 100%;
    overflow: hidden;
    background: olivedrab;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1450px) {
      width: 363px;
    }

    .cart-header {
      height: 100px;
      min-height: 100px;
      background: white;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 16px;

      .cart-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;

        span {
          font-size: 20px;
          font-weight: bold;
          color: black;
        }

        .amount {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background-color: darkorange;
          color: white;
          font-size: 12px;
          font-weight: bold;
        }
      }

      .clear {
        font-size: 12px;
        color: gray;
      }
    }
    .cart-сontent {
      height: 100%;

      background: #e7e7e7;
      border-top: 1px solid darkgray;
      border-bottom: 1px solid darkgray;

      overflow-x: hidden;
      overflow-y: auto;

      .cart-item {
        position: relative;
        padding: 16px;

        display: flex;
        flex-direction: column;
        gap: 12px;

        border-bottom: 1px solid darkgray;

        .title {
          font-size: 18px;
          color: darkorange;
        }

        .stats {
          display: flex;
          flex-direction: row;
          gap: 16px;
        }

        .controllers {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;
          font-weight: bold;
          width: 300px;

          .minus-btn,
          .plus-btn,
          .delete-btn {
            width: 30px;
            height: 30px;
            border-radius: 40px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .minus-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            background: #cf0000;
            font-weight: bold;
            font-size: 18px;
          }

          .plus-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            background: #00a300;
            font-weight: bold;
            font-size: 18px;
          }

          .delete-btn {
            box-shadow: inset 0 -2px 10px #e2e2e2;
            background: white;
            border: 1px solid #a6a6a6;
            color: orange;
            font-weight: bold;
            font-size: 18px;
          }
        }

        .cart-item-img {
          position: fixed;
          height: 80%;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
    .cart-footer {
      height: fit-content;
      min-height: fit-content;
      background: white;

      padding: 16px;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .summary {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .summary-text {
          font-size: 16px;
          font-weight: bold;
        }

        .summary-price {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .order-btn {
        width: 80%;
        padding: 16px;
        background: orange;
        border: 1px solid darkorange;
        color: white;
        border-radius: 8px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
